body {
background-color: #fdffff;
font-family: 'Monaco' , monospace;
text-align: center;
color: #0d2f56;

}

h1 {
padding-top: 100px;
}

p {

margin:0 auto; 
max-width: 800px; 

}



/* Add a black background color to the top navigation */
.topnav {
  background-color: #f2f8fa;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #f2f8fa;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #f2f8fa;
  color: black;
}
