body {
background-color: #F2F0EF;
background-repeat: no-repeat;
background-size: cover;
background-position: center;
 
font-family: 'Alegreya';
text-align: center;
color: #0d2f56;
font-size: 20px;

}



h1 {
padding-top: 100px;
}

p {

margin:0 auto; 
max-width: 800px; 

}


.footer {
 
  text-align: center;
  padding: 20px 0;
 width: 100%;
  bottom: 0;
  left: 0;
  margin-top: 3em;
  font-size:17px;
}
